<app-header-usuario></app-header-usuario>
<div class="body">
    <div class="container">
        <h1>Administración de Pedidos</h1>

        <!-- Tabla de pedidos -->
        <table class="orders-list">
            <thead>
                <tr>
                    <th>Pedido ID</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="orders-table-body">
                <!-- Los pedidos se agregarán dinámicamente aquí -->
                @for (item of orders; track $index) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.client}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.status}}</td>
                    <td><button class="update-btn" (click)="viewOrder(item.id)">Actualizar</button></td>
                </tr>
                }
            </tbody>
        </table>

        <!-- Detalles para actualizar pedido -->

        @if (view_order) {
        <div
            class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-75">
            <div class="order-details" id="order-details">
                <h2>Actualizar Pedido</h2>
                <p><strong>Pedido ID: {{currentOrder.id}}</strong> <span id="order-id"></span></p>
                <p><strong>Cliente: {{currentOrder.client}}</strong> <span id="client-name"></span></p>
                <p><strong>Total: {{currentOrder.total}}</strong> $<span id="order-total"></span></p>
                <p><strong>Dirección de Envío: {{currentOrder.shippingAddress}}</strong> <span
                        id="shipping-address"></span></p>

                <div class="status-select">
                    <label for="order-status">Estado del Pedido:</label>
                    <select [(ngModel)]="newStatus" name="status" id="order-status">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Enviado">Enviado</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                </div>

                <!-- Botón para actualizar estado -->
                <button class="update-status-btn m-2" (click)="updateOrderStatus()">Actualizar Estado</button>
                <button class="back-btn m-2" (click)="goBack()">Volver a la lista de pedidos</button>
            </div>
        </div>
        }
    </div>
</div>