<app-header-usuario></app-header-usuario>
<div class="body">
    <div class="text-end m-2">
        <span class="badge bg-primary fs-6">{{cart.length}}</span>
        <i class="fa-solid fa-cart-shopping me-2 fa-2x" role="button" (click)="showCart = true"></i>
    </div>
    <div class="container">
        <h1>Tienda de Airsoft</h1>

        <!-- Sección de productos -->
        <div class="products">
            @for (item of productos; track $index) {
            <div class="product">
                <img src="../../../assets/images/gun.jpg" alt="Arma Airsoft 1">
                <h3>{{item.nombre}}</h3>
                <p>{{item.precio}}</p>
                <button (click)="addToCart(item)">Añadir al Carrito</button>
            </div>
            }
        </div>

        <!-- Sección del carrito -->
        @if (showCart) {
        <div
            class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-75">
            <div class="bg-light p-4 border">
                <div class="text-end"><i class="fa-solid fa-x mb-4 fa-lg" (click)="showCart=false" role="button"></i>
                </div>
                <h2>Carrito de Compras</h2>
                <div class="cart" id="cart-items">
                    @for (item of cart; track $index) {
                    <div class="cart-item">
                        <p>{{item.nombre}} - {{item.precio}}</p>
                        <button class="remove-btn" (click)="removeFromCart($index)">Eliminar</button>
                    </div>
                    }
                </div>
                <p class="cart-total">Total: $<span id="cart-total">{{total}}</span></p>
                <button class="checkout-btn" (click)="checkout()">Finalizar Compra</button>
            </div>
        </div>
        }


        <!-- Formulario de pago (oculto inicialmente) -->
        @if (viewCheckout) {
        <div
            class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-75">
            <div class="checkout-form" id="checkout-form">
                <div class="text-end"><i class="fa-solid fa-x mb-4 fa-lg" (click)="viewCheckout=false" role="button"></i>
                </div>
                <h2>Formulario de Pago</h2>
                <input [(ngModel)]="formularioPago.nombre" type="text" id="name" placeholder="Nombre Completo" required>
                <input [(ngModel)]="formularioPago.direccion" type="text" id="address" placeholder="Dirección de Envío"
                    required>
                <input [(ngModel)]="formularioPago.tarjeta" type="text" id="card" placeholder="Número de Tarjeta"
                    required>
                <button (click)="submitOrder()">Pagar</button>
            </div>
        </div>

        }

        <!-- Mensaje de éxito -->
        @if (succesMessage) {
        <div class="success-message" id="success-message">
            <p>¡Gracias por tu compra! El pedido ha sido procesado exitosamente.</p>
        </div>
        }
    </div>
</div>