<div class="body">
    <div class="login-container">
        <form #f="ngForm" (ngSubmit)="iniciarSesion()" id="loginForm" class="login-form">
            <h2>Inicio de Sesión</h2>
            <div class="input-group">
                <label for="username">Usuario</label>
                <input #username="ngModel" class="form-control" type="text" id="username" name="username" 
                [ngClass]="username.invalid && username.dirty ? 'is-invalid' : ''"
                [(ngModel)]="loginDto.username" placeholder="Ingresa tu usuario" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input #password="ngModel" class="form-control" type="password" id="password" name="password" 
                [ngClass]="password.invalid && password.dirty ? 'is-invalid' : ''"
                [(ngModel)]="loginDto.password" placeholder="Ingresa tu contraseña" required>
            </div>
            <p class="error" id="error-message" style="display: none;">Usuario o contraseña incorrectos.</p>
            <button type="submit" [disabled]="f.invalid" class="btn">Ingresar</button>
            <p class="register-link">¿No tienes cuenta? <a routerLink="#">Regístrate aquí</a></p>
        </form>
    </div>
</div>