<div class="body">
    <app-header-usuario></app-header-usuario>
    <div class="container">
        <h1>Administración de Pedidos</h1>

        <!-- Tabla de pedidos -->
        <table class="orders-list">
            <thead>
                <tr>
                    <th>Pedido ID</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="orders-table-body">
                <!-- Los pedidos se agregarán dinámicamente aquí -->
                @for (item of pedidos; track $index) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.cliente}}</td>
                    <td></td>
                    <td></td>
                    <td><button class="remove-btn" (click)="showConfirmation(item.id)">Eliminar</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Popup de confirmación -->
    @if (viewConfirmation) {
    <div id="confirmation-popup" class="confirmation-popup">
        <div class="confirmation-box">
            <p>¿Estás seguro de que deseas eliminar este pedido?</p>
            <button class="cancel-btn" (click)="closeConfirmation()">Cancelar</button>
            <button class="confirm-btn" (click)="confirmDelete()">Eliminar</button>
        </div>
    </div>
    }
</div>